##############################################################################
#
# File  :   .gitignore
# Author:   peddy@gmx.net (Andreas Peters)
# Date  :   25.04.2015
# Subj. :   Git ignore File
#
##############################################################################
.DS_Store
### EOF ###
