##############################################################################
#
# File  :   <linux>:synOTR/synOTR.conf.sample
# Author:   Original:	synotr@geimist.eu (Stephan Geisler)
#			ergaenzt:	peddy@gmx.net (Andreas Peters)
# Date  :   26.04.2015
# Subj. :   synOTR - Konfigurationsdatei
#
#	Werte innerhalb der Anführungszeichen anpassenn
#	Pfadangaben mit abschliessendem "/" ( Beispiel: /dein/Pfad/ )
#	anzupassen sind alle Zeilen ohne führendeKommentarzeichen "#",
#	sofern der entsprechende Bereich auf "aktiv (on)" gesetzt ist.
#	Möglicherweise ist es notwenig, diese Konfigurationsdatei unte
#	Windowssystemen mit UNIX-Zeilenenden abzuspeichern.
#
#	tabwidth=4
##############################################################################

################################
## Logfilename ueberschrieben
#LOGFILE=$workdir/synOTR.log

################################
## PATH anpassen:
#PATH=$workdir/app/bin:/usr/syno/bin:$PATH
#export PATH

################################
## nach neuer Version im Internet suchen
#CHECKVERSION=false

##########################################################################################################
# .otrkey's Dateien decodieren:
##########################################################################################################
DECODERACTIVE=false								# true oder false
OTRuser=""										# OTR Benutzername:
OTRpw=""										# OTR Kennwort:
OTRKEYdir="/volume1/downloads/"					# Verzeichnis mit den OTRKEY-Dateien
OTRKEYdeldir="/volume1/downloads/#recycle/"		# Loeschverzeichnis der Quelldateie
destdir="/volume1/video/FERTIG/"				# Ausgabeverzeichnis, hier landen die fertigen Videodateien


##########################################################################################################
# .avi's schneiden (Grundlage sind Schnittlisten von http://www.cutlist.at):
##########################################################################################################
OTRCUTACTIVE=true								# true oder false


##########################################################################################################
# .avi's / .mp4's umbenennen (alle betroffenen Dateien im Eingabeordner mit "TVOON" im Dateinamen werden umbenannt):
##########################################################################################################
OTRRENAMEACTIVE=true							# true oder false
  OTRSERIENINFO=true							# true oder false
												# Die Serieninfo ersetzt den Titel mit >>> SERIE - S01E01 EPISODENTITEL <<<

##############################
#	Dauer=				§dur 
#	Titel=				$tit
#	Jahr [4stellig]=	§ylong
#	Jahr [2stellig]=	§yshort
#	Monat=				§mon
#	Tag=				§day
#	Stunde=				§hou
#	Minute=				§min
#	Sender=				§cha
#	Qualtität / Format=§qua
#	sowie freier Text und Zeichen ohne / manche Sonderzeichen könnten evtl. Fehlfunktionen hervorrufen
NameSyntax="§tit [§ylong-§mon-§day §hou-§min §cha] §qua autocut"

##########################################################################################################
## .avi's in native MP4's (MAC OS tauglich) umwandeln:
##########################################################################################################
#	! ! ! ACHTUNG ! ! ! Alle .avi-Dateien im oben definierten Ordner >destdir< werden konvertiert. 
#	Bei einer grossen Menge an Dateien kann das eine lange Zeit in Anspruch nehmen.
#	Es wird lediglich die Audiospur konvertiert.
OTRAVI2MP4ACTIVE=false							# true oder false
OTRaacqal="128k"								# Ziel-Bitrate der aac-Audiospur ( 128k also 128 kbit/s)


##########################################################################################################
## DSM-Benachrichtigung (funktioniert nur, wenn synOTR vom User "root" aufgerufen wird):
##########################################################################################################
dsmtextnotify="on"								# on => Benachrichtigung per Text aktiv / off => inaktiv
dsmbeepnotify="off"								# on => Benachrichtigung per Beep aktiv / off => inaktiv

##########################################################################################################
## Abweichung der Dateiaenderungszeit in Minuten um laufende FTP-Pushauftraege nicht zu decodieren ueberschreiben
##########################################################################################################
#timediff="2"

##########################################################################################################
## Pfad zu DSM-ffmpeg (oder anderer gewünschter Version ueberschreiben:
##########################################################################################################
#ffmpeg="/usr/syno/bin/ffmpeg"

### EOF ###
